body
{
    font-family: Arial;
    color: white;
    background-color:#607aa5;
    font-size: 20px;
}

#create_table_button, #auto_exec, #stop_exec, #time_list
{
    margin-left:50px;
    color: white;
    background-color: #83b6c1;
    border: none;
    width: auto;
    min-width: 100px;
    height: 35px;
    font-size: 20px;
}

.input_content
{
    display: inline-block;
}

label {
    display: inline-block;
    width: 140px;
    text-align: right;
}

#table
{
    position: static;
    margin-top: 50px;
    margin-left: 60px;
}

#table td.profiles{
    border: white 1px solid ;
    background-color: #8ab2f2;
    border-spacing: 0px;
    padding: 30px;
    font-size: 15px;
}

#given_content {
    margin-top: 200px;
}

#given_m, #given_n
{
    font-size:16px;
}

#left_arrow
{
    margin-left:100px;
}

.left_right
{
    margin-top: 20px;
    margin-left:40px;
    width: 70px;
    height: auto;
}

